@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand img {
  width: 150px;
}

.hero__container {
  background-color: rgb(56, 56, 223);
  color: white;
}

.hero_image img {
  max-width: 100%;
}