@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* color: #404040 */
}

main {
  min-height: 800vh;
}

.navbar-brand img {
  width: 150px;
}

.hero__container {
  background-color: rgb(56, 56, 223);
  color: white;
}

.hero_image img { 
  max-width: 100%;
}

.feature_container {
  margin-top: 100px;
  /* background-color: rgb(23, 216, 216); */
}

.feature_container img {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100px;
}

.demo_container {
  background-color: #494fca;
  margin-top: 50px;
  color: white
}

.about_container {
  margin-top: 50px;
}

.about_container img {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px violet;
}

.rec.rec-arrow{
  visibility: hidden;
}
